@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

#survey-form input{
    margin: 5px;
  }

body {
    background-color: rgba(125, 0, 125, 0.6);
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: 200;
}

.survey-form {
    width: 75%;
    margin: 0px auto;
    background-color: gray;
}
  
#survey-form label {
    display: block;
    margin-left: 0px;
  }
  
#title {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 300;
}

.input-contain {
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    border: 5px solid white;
    border-radius: 3px;
}

#description {
    text-align: center;
    color: white
}

.rounded-border {
    border: 4px solid white;
    border-radius: 4px;
    border-radius: 3px;
    
}

.sm-text {
    font-size: 0.8rem;
}

input[type=checkbox] {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.checkbox-label {
    font-size: 0.75rem;
}

label {
    margin: 3px;
}

button[type="submit"] {
    
    width: 200px;
    height: 30px;
    margin: 10px;
    color: rgba(125, 0, 125, 0.6);
    font-weight: 700;
}

.button-contain {
    width: 220px;
    border: 5px solid white;
    margin: 10px auto;
}

textarea {
    width: 200px;
}
